[submodule "vendor/lua-ext"]
	path = vendor/lua-ext
	url = https://github.com/thenumbernine/lua-ext.git
[submodule "vendor/luaunit"]
	path = vendor/luaunit
	url = https://github.com/bluebird75/luaunit.git
[submodule "vendor/luajit2"]
	path = vendor/luajit2
	url = https://github.com/openresty/luajit2.git
